<app-server></app-server>

<form >
    <mat-form-field>
        <input matInput type="text" placeholder="Enter your name..." (keyup)="onKeyUp($event)" [(ngModel)]="inputName" name="Arguna">
    </mat-form-field>
</form>

<p>{{ inputName }}</p>

<nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let routeLink of routeLinks; index as i" [routerLink]="routeLink.link" [active]="activeLinkIndex === i" (click)="activeLinkIndex = i"  href="">{{ routeLink.label }}</a>
</nav>
<router-outlet></router-outlet>